{
	auto_https disable_redirects
}

:443 {
	root * ./html
	file_server
}

auth.nano.properties {
	reverse_proxy 127.0.0.1:3500 {
		header_up Host {host}
		header_up X-Real-IP {remote}
	}
}

i.nano.properties, ineffa.nano.properties {
	reverse_proxy 127.0.0.1:3000 {
		header_up Host {host}
		header_up X-Real-IP {remote}
	}
}

claw.nano.properties {
	reverse_proxy 127.0.0.1:18789 {
		header_up Host {host}
		header_up X-Real-IP {remote}
	}
}

nano.properties, www.nano.properties {
	reverse_proxy 127.0.0.1:3000 {
		header_up Host {host}
		header_up X-Real-IP {remote}
	}
}

s.nano.properties, static.nano.properties {
	root * ./html
	file_server
	try_files {path} {path}/index.html index.html
}

tun.nano.properties {
	handle {
		forward_auth 127.0.0.1:3500 {
			uri /api/protected
			header_up Host auth.nano.properties
			header_up X-Original-URI {scheme}://{host}{uri}
			@error status 401 403
			handle_response @error {
				redir https://auth.nano.properties/login?redirect={scheme}://{host}{uri}
			}
		}
		reverse_proxy 127.0.0.1:5500 {
			header_up Host {host}
			header_up X-Real-IP {remote}
		}
	}
}

code.nano.properties {
	@bypass path /pty/* /site.webmanifest
	handle @bypass {
		reverse_proxy 127.0.0.1:4096 {
			header_up Host {host}
			header_up X-Real-IP {remote}
		}
	}
	handle {
		forward_auth 127.0.0.1:3500 {
			uri /api/protected
			header_up Host auth.nano.properties
			header_up X-Original-URI {scheme}://{host}{uri}
			@error status 401 403
			handle_response @error {
				redir https://auth.nano.properties/login?redirect={scheme}://{host}{uri}
			}
		}

		header -Content-Security-Policy
		reverse_proxy 127.0.0.1:4096 {
			header_up Host {host}
			header_up X-Real-IP {remote}
		}
	}
}

pai.mn, www.pai.mn {
	reverse_proxy 127.0.0.1:3300 {
		header_up Host {host}
		header_up X-Real-IP {remote}
	}
}

ai.pai.mn {
	reverse_proxy 127.0.0.1:5090 {
		header_up Host {host}
		header_up X-Real-IP {remote}
	}
}

tokenai.dev, www.tokenai.dev {
	reverse_proxy 127.0.0.1:6200 {
		header_up Host {host}
		header_up X-Real-IP {remote}
	}
}

sp.nano.properties {
	reverse_proxy 127.0.0.1:1088 {
		header_up Host {host}
		header_up X-Real-IP {remote}
	}
}

# legacy redirect
openclaw-2026.nano-exp.com:80 {
	redir https://pai-mn.github.io/openclaw-2026{uri} 308
}